@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  /* FONTS*/

  --ff-main: "Manrope", sans-serif;

  /* COLORS */

  /* Primary*/
  --clr-primary-dark-grayish-blue: hsl(217, 19%, 35%);

  /* Secondary */

  --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);
}

/* Initialization */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--clr-light-grayish-blue);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-main);
  position: relative;
}

/* Article Preview Component */

.container {
  background-color: #fff;
  max-width: 73rem;
  max-height: 28rem;
  height: 100%;
  width: 100%;
  display: flex;

  border-radius: 1.5rem;
  box-shadow: 0rem 0rem 1rem 0.1rem rgb(233, 231, 231);
}
.overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 997;
}
.img-container {
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  min-width: 28rem;
  height: 28rem;
  background: url(images/drawers.jpg) no-repeat;
  background-size: 125% 100%;
  background-position: 0% 30%;
}

/* MAIN CONTENT */

.content {
  position: relative;
  padding: 4rem 4rem 3rem 4rem;
  height: 100%;
}

.heading-content {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--clr-primary-dark-grayish-blue);
  margin-bottom: 1.5rem;
}
.text-content {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--clr-desaturated-dark-blue);
  margin-bottom: 1.5rem;
}

.avatar-container {
  /* position: relative; */
  display: flex;
  align-items: center;
  gap: 1.3rem;
  width: 100%;
}

.avatar-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--clr-primary-dark-grayish-blue);
}

.avatar-date {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-desaturated-dark-blue);
}
.avatar-img {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

/* Share BUTTON and Share pop-up */

.share-button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  right: 3rem;
  bottom: 1rem;
  transform: translate(-50%, -50%);

  background: url(images/icon-share.svg) no-repeat;
  background-color: var(--clr-light-grayish-blue);
  background-position: 50% 50%;
  transition: box-shadow 1.5s ease;
  margin-left: auto;
  z-index: 999;
}
.share-button:hover {
  box-shadow: 0rem 0rem 0.5rem 0.1rem var(--clr-grayish-blue);
  cursor: pointer;
}

.share {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(25%, -100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 998;
}

.share-box {
  background-color: var(--clr-primary-dark-grayish-blue);
  width: 24.5rem;
  height: 5.5rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem 0.1rem rgb(193, 192, 192);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.share-triangle {
  width: 0;
  height: 0;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;

  border-top: 1.5rem solid var(--clr-primary-dark-grayish-blue);
}

.share-text {
  color: #fff;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: var(--clr-grayish-blue);
}
a:link,
a:active {
  display: block;
}
.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media (max-width: 46em) {
  .container {
    max-width: 32.5rem;
    max-height: 51rem;
    flex-direction: column;
  }
  .img-container {
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 0rem;
    min-width: unset;
    min-height: 20rem;
    background-size: 100% 130%;
    background-position: 100% 30%;
  }
  .content {
    padding: 4rem 3rem 0rem 3rem;
    height: 100%;
  }
  .heading-content {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .text-content {
    font-size: 1.35rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .avatar-container {
    position: absolute;
    height: 6rem;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
  }
  .share {
    right: 0;
    bottom: 0;
    transform: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .share-button {
    z-index: 999;
    bottom: 0;
  }
  .share-box {
    width: 32.5rem;
    height: 6rem;
    border-radius: 0;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    align-items: center;
    justify-content: start;
    padding-left: 3rem;

    gap: 2rem;
    /* transition: all 0.3s ease; */
    animation: sharePopUp 10s ease;
    animation-direction: alternate;
  }
  .share-triangle {
    display: none;
  }
  .hidden {
    display: none;
  }
  @keyframes sharePopUp {
    from {
      max-height: 0;
    }

    to {
      max-height: 300rem;
    }
  }
}
